/* Globalni stil za tijelo */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #A078B6; /* Tamna lila pozadina */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Kontejner za sadržaj */
.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 20px;
    background-color: #F4E1FF; /* Svijetla krem lila za kontejner */
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Naslovi */
h1, h2 {
    text-align: center;
    color: #5D3A73;
}

/* Poravnanje slika u sekcijama */
.example-images {
    display: flex;
    flex-wrap: wrap; /* Omogućuje prelazak slika u novi red */
    gap: 20px; /* Razmak između slika */
    margin-top: 20px;
    justify-content: space-between; /* Distribuira slike u redovima */
}

.image-container {
    flex: 1 1 48%; /* Svaka slika zauzima otprilike polovicu širine */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-container img {
    width: 100%; /* Slika zauzima cijelu širinu kontejnera */
    max-width: 300px; /* Maksimalna širina slike */
    height: auto;
    border-radius: 8px; /* Zaobljeni kutovi */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    cursor: pointer; /* Pokazuje da je slika interaktivna */
    transition: transform 0.3s ease; /* Efekt proširivanja pri hoveru */
}

.image-container img:hover {
    transform: scale(1.05); /* Lagano proširivanje pri hoveru */
}

/* Za smanjivanje posljednje slike */
.promotional-poster img {
    width: 80%;
    max-width: 200px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

/* Stil za gumb za povratak na vrh */
#scrollToTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #5D3A73;
    color: white;
    padding: 12px 18px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, transform 0.3s;
}

#scrollToTopBtn.show {
    display: block;
    opacity: 1;
    transform: scale(1);
}

#scrollToTopBtn:hover {
    background-color: #7E5A99; /* Svjetlija lila za hover */
    transform: scale(1.1);
}

/* Stil za navigaciju i linkove */
a {
    text-decoration: none;
    color: #5D3A73;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

a:hover {
    color: #7E5A99;
    transform: scale(1.1);
}

/* Stil za Dodavanje printa/loga sekciju */
.example-images.print-logos {
    display: flex;
    justify-content: space-between; /* Poravnava slike u red */
    gap: 20px;
    flex-wrap: nowrap; /* Sprječava prelazak slika u novi red */
}

.print-logos .image-container {
    flex: 1 1 30%; /* Svaka slika će zauzimati 30% širine */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
